.content {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f2f2f2;
}

article,
router-outlet {
  scroll-behavior: smooth;

  flex: 1;
  overflow: auto;
}
