<div class="section1">
  <h2>User Personas</h2>
  <div class="persona">
    <div class="sparkle u-hover--sparkle">
      <img src="assets/User_Persona_1.png" alt="Persona1" />
    </div>
    <div class="sparkle u-hover--sparkle">
      <img src="assets/User_Persona_2.png" alt="Persona2" />
    </div>
  </div>
</div>

<div>
  <h2>Empathy Maps</h2>
  <div class="persona">
    <div class="sparkle u-hover--sparkle">
      <img src="assets/Empathy_Map_1.png" alt="EmpathyMap1" />
    </div>
    <div class="sparkle u-hover--sparkle">
      <img src="assets/Empathy_Map_2.png" alt="EmpathyMap2" />
    </div>
  </div>
</div>