p {
  margin: 10px 0;
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.4;
}

.persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.persona img {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2%;
}
