<ol>
  <li>
    D. A. Bafail and D. Bafail, “Mental health issues associated with covid-19
    among the elderly population: A narrative review,” Cureus,
    <a
      href="https://www.cureus.com/articles/129254-mental-health-issues-associated-with-covid-19-among-the-elderly-population-a-narrative-review"
      >https://www.cureus.com/articles/129254-mental-health-issues-associated-with-covid-19-among-the-elderly-population-a-narrative-review</a
    >
    (accessed Feb. 21, 2024).
  </li>
  <li>
    M. Patkar, “5 free multi-game apps and websites to play with Friends
    Online,” MUO,
    <a
      href="https://www.makeuseof.com/tag/free-multi-game-apps-websites-play-friends-online/"
      >https://www.makeuseof.com/tag/free-multi-game-apps-websites-play-friends-online/</a
    >
    (accessed Feb. 22, 2024).
  </li>
  <li>
    “Samsung Health: Apps,” The Official Samsung Galaxy Site,
    <a href="https://www.samsung.com/global/galaxy/apps/samsung-health/"
      >https://www.samsung.com/global/galaxy/apps/samsung-health/</a
    >
    (accessed Feb. 22, 2024).
  </li>
  <li>
    M. KasymAuthor, M. Kasym, and Author, “UX design for seniors: Examples and
    tips,” UX Design for Seniors: Examples and Tips,
    <a
      href="https://www.eleken.co/blog-posts/examples-of-ux-design-for-seniors/"
      >https://www.eleken.co/blog-posts/examples-of-ux-design-for-seniors/</a
    >
    (accessed Feb. 23, 2024).
  </li>
  <li>
    G. S. Living, “Here’s what to play when you’re over 55 and Love having fun,”
    greatseniorliving.com,
    <a href="https://www.greatseniorliving.com/articles/games-for-seniors/"
      >https://www.greatseniorliving.com/articles/games-for-seniors/</a
    >
    (accessed Feb. 23, 2024).
  </li>
  <li>
    Jpanayotov, “Best online games for seniors: Free & mind stimulating games,”
    Assisting Hands Home Care - Downers Grove, Hinsdale & Surrounding Areas,
    <a
      href="https://assistinghands.com/20/illinois/hinsdale/blog/best-online-games-for-seniors/"
      >https://assistinghands.com/20/illinois/hinsdale/blog/best-online-games-for-seniors/</a
    >
    (accessed Feb. 23, 2024).
  </li>
</ol>
