<div class="section1">
  <div class="userFlow">
    <div class="sparkle u-hover--sparkle">
      <img src="assets/User_Flow-Play-Game.png" alt="User_Flow-Play-Game" />
    </div>
    <div class="sparkle u-hover--sparkle">
      <img
        src="assets/User_Flow-Message-friend.png"
        alt="User_Flow-Message-friend"
      />
    </div>
    <div class="sparkle u-hover--sparkle">
      <img
        src="assets/User_Flow-Challenge-friend.png"
        alt="User_Flow-Challenge-friend"
      />
    </div>
  </div>
</div>
