<div class="sketches">
  <h2>Sketches</h2>
  <div>
    <img src="assets/Sketch_1.jpg" alt="Sketch_1" />
    <img src="assets/Sketch_2.jpg" alt="Sketch_2" />
  </div>
</div>

<div>
  <h2>Prototypes</h2>
  <div class="prototypes">
    <img src="assets/Prototype1.png" alt="Prototype1" />
    <img src="assets/Prototype2.png" alt="Prototype2" />
    <img src="assets/Prototype3.png" alt="Prototype3" />
    <img src="assets/Prototype4.png" alt="Prototype4" />
    <img src="assets/Prototype5.png" alt="Prototype5" />
    <img src="assets/Prototype6.png" alt="Prototype6" />
  </div>
</div>
