p {
  margin: 10px 0;
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.4;
}

.sketches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.sketches div {
  display: flex; /* Add this line */
  flex-direction: row; /* Change this line */
}

.sketches div img {
  margin: 10px;
  width: 50%;
}

.prototypes {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0 auto; /* Center the element horizontally */
}

.prototypes img {
  width: 95%; /* Make the images smaller */
  height: 95%; /* Make the images smaller */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a small shadow */
}
