<div class="sketches">
  <h2>Sketches</h2>
  <div>
    <img src="assets/Sketch_1.jpg" alt="Sketch_1" class="flashy" />
    <img src="assets/Sketch_2.jpg" alt="Sketch_2" class="flashy"  />
  </div>
</div>

<div>
  <h2>Prototypes</h2>
  <div class="prototypes">
    <img src="assets/Prototype_1.png" alt="Prototype1" class="flashy"  />
    <img src="assets/Prototype_2.png" alt="Prototype2" class="flashy"  />
    <img src="assets/Prototype_3.png" alt="Prototype3" class="flashy"  />
    <img src="assets/Prototype_4.png" alt="Prototype4" class="flashy"  />
  </div>
</div>
