<div class="sketches">
  <h2>Sketches</h2>
  <div>
    <img src="assets/Sketch_1.jpg" alt="Sketch_1" class="flashy" />
    <img src="assets/Sketch_2.jpg" alt="Sketch_2" class="flashy" />
  </div>
</div>

<div>
  <h2>Wireframes</h2>
  <div class="wireframes">
    <img src="assets/WireframeLogin.png" alt="WireframeLogin" class="flashy" />
    <img
      src="assets/WireframeRegister.png"
      alt="WireframeRegister"
      class="flashy"
    />
    <img src="assets/Wireframe1.png" alt="Wireframe1" class="flashy" />
    <img src="assets/Wireframe2.png" alt="Wireframe2" class="flashy" />
    <img src="assets/Wireframe3.png" alt="Wireframe3" class="flashy" />
    <img src="assets/Wireframe4.png" alt="Wireframe4" class="flashy" />
  </div>

  <div>
    <h2>Prototypes</h2>
    <div class="prototypes">
      <img src="assets/Prototype_1.png" alt="Prototype1" class="flashy" />
      <img src="assets/Prototype_2.png" alt="Prototype2" class="flashy" />
      <img src="assets/Prototype_3.png" alt="Prototype3" class="flashy" />
      <img src="assets/Prototype_4.png" alt="Prototype4" class="flashy" />
    </div>
  </div>

  <div>
    <h2>Color Scheme</h2>
    <div class="color-scheme">
      <img src="assets/ColorPalette.png" alt="ColorPalette" class="flashy" />
      <img src="assets/ColorPalette2.png" alt="ColorPalette2" class="flashy" />
    </div>
  </div>
</div>
