<p>
  The COVID-19 pandemic has caused significant long-term economic, social and
  psychological effects on today's society. Amid the many effects of COVID-19,
  one of them is the rise of mental health issues among the elderly population.
  Research shows that depressive symptoms among the elderly increased from 12.5%
  (from before the pandemic) to 22.6% in June and July 2020 and then increased
  to 28.5% in November and December 2020 [1]. The rise of depressive symptoms
  within the elderly population could be attributed to the forced social
  isolation and feelings of loneliness [1].
</p>
