<p>
  This project was a great opportunity to learn as a team about the UI/UX
  development process. It allowed us to explore the user interface design
  process and develop our creative minds to find a solution to the problem. The
  main challenge was to gather the users' data and understand their needs and
  wants. From that data, we created user personas based on the data we collected
  and then designing the app around those personas. Keeping in mind the wants
  and needs of the elderly, we designed a simple and easy to use interface.
</p>
