.intro {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 30px;
}

.intro .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}

.intro .text h1 {
  margin: 10px 0 20px 0;
  font-size: 3.5em;
  line-height: 1.4;
}

.intro .text h2 {
  margin: 10px 0 20px 0;
  font-size: 2.2em;
  line-height: 1.4;
}

.intro .text p {
  margin: 10px 0;
  font-size: 1.2em;
  line-height: 1.4;
}

.imageGrid {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0 auto; /* Center the element horizontally */
}

.imageGrid img {
  width: 95%; /* Make the images smaller */
  height: 95%; /* Make the images smaller */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a small shadow */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; // Dark background
  padding: 10px;

  .appName {
    color: #f2f2f2;
    font-size: 1.5em;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;

    a {
      color: #ccc; // Light gray links
      text-decoration: none;
      margin: 0 10px;

      &:hover {
        color: #fff; // White color on hover
      }
    }
  }

  .nav-links.mobile {
    display: none;

    button {
      color: #ccc; // Light gray button
      margin-right: 10px;

      &:hover {
        color: #fff; // White color on hover
      }
    }

    mat-menu {
      background-color: #333; // Dark background

      button mat-menu-item a {
        color: #ccc; // Light gray links
        text-decoration: none;
        margin: 0 10px;

        &:hover {
          color: #fff; // White color on hover
        }
      }
    }
  }

  @media (max-width: 976px) {
    .nav-links.desktop {
      display: none;
    }

    .nav-links.mobile {
      display: flex;
    }
  }
}

.section {
  scroll-margin-top: 50px; /* Adjust this to match the height of your navbar */
  padding: 20px;
  height: fit-content;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  width: 80%;
  margin: 0 auto; /* Center the section */
  text-align: left; /* Align the text to the left */
}

.section h1 {
  margin: 10px 0 20px 0;
  font-size: 2.5em;
}
