<div>
  <div class="navbar">
    <div class="appName">
      <h1>BrainFit</h1>
    </div>
    <div class="nav-links desktop">
      <a href="#Introduction">Introduction</a>
      <a href="#Problem">Problem</a>
      <a href="#Solution">Solution</a>
      <a href="#Research">Research</a>
      <a href="#Analysis">Analysis</a>
      <a href="#UserFlow">User Flow</a>
      <a href="#VisualDesign">Visual Design</a>
      <a href="#FinalDesign">Final Design</a>
      <a href="#Conclusion">Conclusion</a>
    </div>
    <div class="nav-links mobile">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a href="#Introduction">Introduction</a>
        </button>
        <button mat-menu-item>
          <a href="#Problem">Problem</a>
        </button>
        <button mat-menu-item>
          <a href="#Solution">Solution</a>
        </button>
        <button mat-menu-item>
          <a href="#Research">Research</a>
        </button>
        <button mat-menu-item>
          <a href="#Analysis">Analysis</a>
        </button>
        <button mat-menu-item>
          <a href="#UserFlow">User Flow</a>
        </button>
        <button mat-menu-item>
          <a href="#VisualDesign">Visual Design</a>
        </button>
        <button mat-menu-item>
          <a href="#FinalDesign">Final Design</a>
        </button>
        <button mat-menu-item>
          <a href="#Conclusion">Conclusion</a>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="intro">
    <div class="text">
      <h1>BrainFit</h1>
      <h2>Designing for the Elderly</h2>
      <p>Guillaume Lachapelle - 40203325</p>
      <p>Oliver Vilney - 40214948</p>
      <p>Karina Sanchez Duran - 40189860</p>
    </div>
  </div>

  <div class="imageGrid">
    <img src="assets/Elderly1.png" alt="Elderly" />
    <img src="assets/Elderly2.png" alt="Elderly" />
    <img src="assets/Elderly3.png" alt="Elderly" />
    <img src="assets/Elderly4.png" alt="Elderly" />
  </div>

  <div id="Introduction" class="section">
    <h1>Introduction</h1>
    <app-introduction></app-introduction>
  </div>

  <div id="Problem" class="section">
    <h1>Problem Statement</h1>
    <app-problem-statement></app-problem-statement>
  </div>

  <div id="Solution" class="section">
    <h1>Solution</h1>
    <app-solution></app-solution>
  </div>

  <div id="Research" class="section">
    <h1>Research</h1>
    <app-research></app-research>
  </div>

  <div id="Analysis" class="section">
    <h1>Analysis</h1>
    <app-analysis></app-analysis>
  </div>

  <div id="UserFlow" class="section">
    <h1>User Flow</h1>
    <app-user-flow></app-user-flow>
  </div>

  <div id="VisualDesign" class="section">
    <h1>Visual Design</h1>
    <app-visual-design></app-visual-design>
  </div>

  <div id="FinalDesign" class="section">
    <h1>Final Design</h1>
    <app-final-design></app-final-design>
  </div>

  <div id="Conclusion" class="section">
    <h1>Conclusion</h1>
    <app-conclusion></app-conclusion>
  </div>

  <div id="References" class="section">
    <h1>References</h1>
    <app-references></app-references>
  </div>
</div>
