<p>
  There are several similar apps to BrainFit that already exist. Mobile apps
  such as Plato and Bunch allow users to play games online and chat with
  friends. However, the games in Plato and Bunch are geared towards a younger
  target audience (15-25 years old) and the UI is more complicated and juvenile
  [2]. <br /><br />
  There are other apps such as Samsung Health which allows users to challenge
  friends to compete in fitness goals [3]. Our app, BrainFit, also allows users
  to challenge friends but, unlike Samsung Health, our app challenges users to
  mentally stimulating games. <br /><br />
  Research shows that UI/UX design for the elderly should have a simple yet
  pleasant design. Some key UI/UX design principles for the elderly include high
  contrast between text and background colors, large fonts, white space between
  elements for easier scannability and simplified navigability by making key
  features easy to find (such as putting things at the top of the page). The
  color scheme should also be soft (not overpowering) so as to not strain our
  users' eyesight.[4] <br /><br />
  Further research indicates that popular games among the elderly population
  include but are not limited to solitaire, sudoku, chess, mahjong and jigsaw
  puzzles [5]-[6]. In fact, strategy games such as mahjong and chess have shown
  to help seniors improve their memory and analytical skills [6]. Mahjong is
  even thought to help seniors mitigate the effects of dementia [6]. Seniors are
  able to obtain great mental exercise by playing games such as these, boost
  their positive energy and improve their cognitive skills [6]. As a result, the
  mental health of seniors can significantly improve by simply playing a game.
  <br /><br />
  Taking all this into consideration, our team has created a simple and easy to
  use UI/UX design for the elderly with games that would appeal to them. The
  final design can be seen below.
</p>
